@model Proyecto_Inge_Bases_Web.Models.Subasta

@{
    ViewBag.Title = "Delete";
}

    <head>
        <style style="border:1px solid black;margin-left: 100px ;margin-right:auto;">


            .cuerpo {
                margin: auto;
                width: 60%;
                padding: 10px;
                background: rgb(255, 255, 255);
            }
        </style>
    </head>

    <div class="cuerpo">
        <div class="text-muted" style="margin-top: 30px; margin-left : 0px">
            <h2>Esta seguro que desea anular la subasta?</h2>
            
        </div>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Producto
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt>
                    Fecha inicio de la subasta
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaInicio)
                </dd>

                <dt>
                    Fecha de finalización de la subasta
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaFin)
                </dd>

                <dt>
                    Calificación
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Calificacion)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input class="btn btn-info" style="background-color:  #00c0f3; margin:1px" type="submit" value="Anular" />

        </div>
            }
        </div>
    </div>