@*@model Proyecto_Inge_Bases_Web.Models.Producto*@
@using Proyecto_Inge_Bases_Web
@model Proyecto_Inge_Bases_Web.Views.TruequeViewModels.TruequeModels
@{
    ViewBag.Title = "Solicitud";
}

<head>

    <style>

        .cuerpo {
            margin: auto;
            width: 60%;
            padding: 10px;
            margin-bottom: 30px;
            padding-bottom: 130px;
            background: rgb(255, 255, 255);
        }
    </style>

</head>

<div class="cuerpo">
    <div class="text-muted" style="margin-top: 30px; margin-left : 0px">
        <h2>Solicitudes de Intercambio por el producto</h2>
    </div>
    <table class="table">

        @foreach (Proyecto_Inge_Bases_Web.Models.Trueque trueque in Model.Trueques) //Cada trueque con su propia fila
        {
            <!-- Aca tengo los trueques de los cuales yo soy el publicador-->
            <!-- De aca, quiero agarrar los productos ofertantes. Para ver quienes y que me han ofrecido-->
            foreach (Proyecto_Inge_Bases_Web.Models.Producto producto in Model.Productos)
            {<!-- For each, ya que hay trueques donde se oferta mas de un producto-->
                <!-- Producto todavía no esta "en rango" para que solo me enseñe los productos que estan siendo ofertados para mi-->
                if ((producto.ProductoID == trueque.ProductoIDOfertante) && (trueque.CorreoPublicador == (string)Session["Correiro"]))
                { <!--si el id el producto es el mismo id del conjunto ofertador; Y si el correo publicador es el usuario actual-->

                    <tr>
                        <td height="150">
                            <!-- Imagen-->
                            @if (producto.PathImagen1 != null)
                            {
                                <img src="@Url.Content(producto.PathImagen1)" alt="Imagen" style="width:150px; height:150px" />
                            }
                            else if (producto.PathImagen2 != null)
                            {
                                <img src="@Url.Content(producto.PathImagen2)" alt="Imagen" style="width:150px; height:150px" />
                            }
                            else if (producto.PathImagen3 != null)
                            {
                                <img src="@Url.Content(producto.PathImagen3)" alt="Imagen" style="width: 150px; height: 150px" />
                            }
                            else
                            {
                                <img src="https://pngimage.net/wp-content/uploads/2018/06/imagen-no-disponible-png-4.png" style="width:150px; height:150px">
                            }
                        </td>
                        @Html.HiddenFor(m => trueque.ProductoIDOfertante)
                        <td style="vertical-align:middle">
                            <h4> @producto.Nombre </h4>
                            <p>
                                Usuario: @producto.Cliente.Registrado.Nombre @producto.Cliente.Registrado.Apellido1<br />Correo: @producto.CorreoCliente
                            </p>

                        </td> <!-- Nombre y apellido del ofertante-->

                        <td style="vertical-align:middle">
                            <h5> ₡@producto.PrecioEstimado</h5>
                        </td>


                        <td style="vertical-align:middle">
                            <div style="display:flex">

                                @*<a class="d-block text-dark text-decoration-none" onclick="location.href = '@Url.Action("Details","Producto", new { id = producto.ProductoID, correo = producto.CorreoCliente })'">
                                    <div class="p-2 py-2 mb-2 bg-light text-center rounded col-md-3" style="align-content:center">
                                        <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd" />
                                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                </a>*@
                                @*<button style="margin-right:3px; margin-left:3px" class="btn btn-danger" onclick="location.href = '@Url.Action( "Delete",new { p1 = trueque.ProductoIDPublicador, c1 = trueque.CorreoPublicador, p2 = trueque.ProductoIDOfertante, c2 = trueque.CorreoOfertante })'">Rechazar</button>*@
                                @*@Html.ActionLink("Delete", "Delete", new { p1 = trueque.ProductoIDPublicador, c1 = trueque.CorreoPublicador, p2 = trueque.ProductoIDOfertante, c2 = trueque.CorreoOfertante })*@


                            </div>
                        </td>

                    </tr>

                }

            }

        }



    </table>
    <button class="btn btn-info" style="background-color:  #00c0f3" onclick="location.href = '@Url.Action( "Recibe", "Notifications")'">Volver</button>
</div>


